.homepage {
  text-align: center;
  background-color: #343434;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #343434;
}

.inputContainer {
  max-width: 1250px;
  min-width: 675px;
  margin: 1rem auto;
}

.bookmarksContainer {
  height: 700px;
  overflow: auto;
  width: 700px;
  margin: 0 auto;
  border: 1px solid grey;
  padding: 1rem;
  background-color: #15133C;
}

.error-title {
  color: white;
}